.input-section {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.textarea > textarea {
  width: 92vw;
  height: 15vh;
  padding: 1em;
  background-color: gainsboro;
  color: #353535;
  font-size: 1.1em;
  font-family: serif;
}

.send-button {
  position: absolute;
  right: 0.5em;
  bottom: 1.5em;
}

.send-button > button {
  padding: 1em;
  border-radius: 0.7em;
  border: 1px solid;
  background-color: #ff69b4;
  color: rgba(249, 244, 254, 0.907);
}
